<div id="key">
  <div class="form-title">Key</div>
  <table>
   
     <tr>
       <th class="key-toggle">On/off</th><th>Range</th><th colspan="2">Count</th>
     </tr>
     
     <ng-container *ngFor="let bin of bins">
       <tr *ngIf="bin.position < 2 || (bin.position == 2 && bin.count > 0)" [className]="bin.count == 0 ? 'disabled' : 'active'">
          
          <td class="key-toggle">
             <div class="key-icon"  [ngStyle]="{'background-color': bin.color}">
                <mat-checkbox id="{{bin.layer}}" *ngIf="bin.count > 0" class="layer-toggle" aria-label="toggle layer" 
                  (change)="toggleLayer($event)" [checked]="layers ? layers[bin.layer] : false" >
                </mat-checkbox>
             </div>
          </td>
          
          <td [ngSwitch]="bin.position" class="key-content">
            <ng-template ngSwitchCase="-1">< {{bin.max | number : '1.2-2'}}</ng-template>
            <ng-template ngSwitchCase="0">{{bin.min | number : '1.2-2' }} - < {{bin.max | number : '1.2-2'}}</ng-template>
            <ng-template ngSwitchCase="0.5">{{bin.min | number : '1.2-2' }} - {{bin.max | number : '1.2-2'}}</ng-template>
            <ng-template ngSwitchCase="1">> {{bin.min | number : '1.2-2'}}</ng-template>
            <ng-template ngSwitchCase="2">No data.</ng-template>
          </td>
          
          <td class="key-content">{{bin.count}}</td>
          
          <td class="histogram-parent">
            <div *ngIf="bin.count > 0" class="histogram" [ngStyle]="{'background-color': bin.color, 'width': bin.width + 'px' }" ></div>
          </td>
       </tr>
     </ng-container>

  </table>
</div>

