#map {
  height:100%;
  width:100%;
  z-index : 1;
}

:host ::ng-deep .icon-color {
  border-radius: 10px;
  height: 10px;
  width: 10px;
  border: 1px solid black;
}

:host ::ng-deep ul#channel-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  display: flex;
}
:host ::ng-deep ul#channel-list li {
  flex: 1 0 33%;
}

:host ::ng-deep ul#channel-list li.active{
  color:green;
  font-weight:bold;
}

