#map {
  height:800px;
  width:100%;
/*  float:left;*/
}

:host ::ng-deep .icon-color {
  border-radius: 10px;
  height: 10px;
  width: 10px;
  border: 1px solid black;
}

:host ::ng-deep ul#channel-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  display: flex;
}
:host ::ng-deep ul#channel-list li {
  flex: 1 0 33%;
}


#key{
  position:relative;
  right:0px;
  height:auto;
}

#key td {
  padding-left: 5px;
}

#key .icon-key {
  width: 20px;
}

#key .icon-key {
  width:20px;
  height:20px;
  border: 1px solid black;
}

.histogram  {
  height:20px;
  border: 1px solid black;
}

mat-checkbox.layer-toggle {
 background-color: transparent !important;
 border-width: 1px;
}

tr[disabled="disabled"] {
  color:#808080;
  opacity: 0.5;
}