@import "styles.scss";

#key {
  padding: 5px 10px 5px 15px;
  table {  border-collapse: collapse;  width:100%;}

  th,td {
    font-size: 1rem;
    text-align: left;
    font-weight: normal;
    padding: 2px 0px;
  }
  .key-toggle {
    width: 55px;
  }
  .key-icon {
    width:20px;
    height:20px;
    margin-left:auto;
    margin-right:auto;
    border: solid 1px $border;
  }
  .key-content {
    color: $secondary;
    text-align:center;
  }
  th {
    text-align:center;
    border-bottom: solid 1px $border;
  }
  tr.disabled{
    color:$secondary;
    opacity: 0.5;
  }
  .histogram-parent{
   width:85px; 
    .histogram  {
      border: solid 1px $border;
      height:20px;
    }
  }
}

:host ::ng-deep .layer-toggle .mat-checkbox-background {
 background-color: transparent !important;
}

:host ::ng-deep .layer-toggle .mat-checkbox-frame {
 border: none;
}