<div [ngClass]="{'overlay-background': inProgress}">
  <mat-toolbar id="header">
    <ng-container *ngIf="activeMetric">
      <div>Active Metric: {{activeMetric.title}}</div>
      <div>Stations: {{activeMetric.data.count}}</div>
    </ng-container>
  
    <ul id="query-info" *ngIf="query">
      <li *ngIf="query.net"> Net: <span>{{query.net}}</span> </li>
      <li *ngIf="query.sta"> Sta: <span>{{query.sta}}</span></li>
      <li *ngIf="query.cha"> Cha: <span>{{query.cha}}</span></li>  
      <li *ngIf="query.loc"> Loc: <span>{{query.loc}}</span></li>
      <li *ngIf="query.qual"> Qual: <span>{{query.qual}}</span></li>
      <li *ngIf="query.start"> Start: <span>{{query.start}}</span> </li>
      <li *ngIf="query.end"> End: <span>{{query.end}}</span> </li>
    </ul>
    <button mat-raised-button color="primary" id="edit-query" routerLink="/form" queryParamsHandling="merge">
      Edit Query
    </button>
  </mat-toolbar>



  <!-- <app-station *ngIf="viewStation"></app-station> -->

  <mat-sidenav-container>

    <mat-sidenav-content>
      <app-markers ></app-markers>
    </mat-sidenav-content>

    <mat-sidenav id="sidebar" mode="side" position="end" opened>
      <app-controls ></app-controls>
    </mat-sidenav>

  </mat-sidenav-container>
</div>
<div class="overlay" fxLayout fxLayoutAlign="center center" *ngIf="inProgress">
  <div class="overlay-message" fxLayout="column" >
    <h1 fxFlexAlign="center">{{message}}</h1>
    <fa name="spinner" animation="spin" size="5x" fxFlexAlign="center"></fa>
  </div>
</div>


