<div [ngClass]="{'overlay-blur': inProgress}">
  <mat-sidenav-container id="content">

    <mat-sidenav-content class="mat-elevation-z1">
      <app-markers ></app-markers>
    </mat-sidenav-content>

    <mat-sidenav id="sidebar" mode="side" position="end" opened class="mat-elevation-z4">
      <app-controls ></app-controls>
    </mat-sidenav>

  </mat-sidenav-container>
  <mat-toolbar id="header" class="mat-elevation-z5">
    <ng-container *ngIf="activeMetric">
      <div class="title"> {{activeMetric.title}} Metric</div>
    </ng-container>
    <ul id="query-info" *ngIf="query">
      <li> Dates: <span> {{query.start | date:'shortDate'}} - {{query.end | date:'shortDate'}}</span></li> 
      <li> Net: <span> {{query.net}} </span> </li>
      <li> Sta: <span> {{query.sta}} </span> </li>
      <li> Cha: <span> {{query.cha}} </span> </li>  
      <li> Loc: <span> {{query.loc}} </span> </li>
      <li> Qual: <span> {{query.qual}} </span> </li>

    </ul>
    
    <button mat-button color="primary" id="edit-query" routerLink="/form" queryParamsHandling="merge">
      Edit Query
    </button>
    
  </mat-toolbar>
</div>

<div class="overlay" fxLayout fxLayoutAlign="center center" *ngIf="inProgress">
  
  <div class="overlay-message" fxLayout="column" >
    <h1 fxFlexAlign="center">{{message}}</h1>
    <fa name="spinner" animation="spin" size="5x" fxFlexAlign="center"></fa>
  </div>
  <div class="overlay-background"> </div>
</div>


