
.overlay {
  position: absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index:100;
}

.overlay-background {
  -webkit-filter: blur(30px); /* Safari 6.0 - 9.0 */
  filter: blur(30px);
  background-color:gray;
  width:100%;
  height:100%;
  position: absolute;
}

.overlay-message {
  z-index:101;
  color:white;
  display:inline-block;
}
#header {
  height: 60px;
  background-color:#f2f2f2;
}
#query-info {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}
#query-info li {
  float:left;
  padding: 5px;
}
mat-sidenav {
  width:300px;
}

#edit-query {
  right:30px;
  position:absolute;
}
