<div id="control-buttons" fxLayout="row" fxLayoutAlign="center center">
  
  <button mat-icon-button 
    (click)="openDownloadDialog()"
    aria-label="Button that opens dialog to select download type."
    matTooltip="Download data.">
    <mat-icon>cloud_download</mat-icon>
  </button>
  
  <button mat-icon-button 
    (click)="copyShareLink()"
    matTooltip="Copy link to clipboard."
    aria-label="Button that copies link to clipboard.">
    <mat-icon>link</mat-icon>
  </button>
  
  <button mat-icon-button 
    (click)="openHelpDialog()"
    matTooltip="Show help information."
    aria-label="Button that displays help dialog.">
    <mat-icon>help_outline</mat-icon>
  </button>

</div>