#map {
  height:100%;
  width:100%;
  z-index : 1;
}

:host ::ng-deep {
  
  .icon-color {
    border-radius: 50%;
    height: 8px;
    width: 8px;
    border: 1px solid black;
  }
  ul#channel-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    display: flex;
    li {
      flex: 1 0 33%;
      &.active{
        font-weight:bold;
      }
    }
  }
  
}

