<h1 mat-dialog-title fxLayoutAlign="center center">{{station.code}} {{metric.title}}</h1>
<mat-divider></mat-divider>
<div mat-dialog-content >

  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="results"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)"
    [roundDomains]="true"
    [animations]="false"
    [timeline]="true"
    [legendTitle]="legendTitle">
  </ngx-charts-line-chart>

</div>
  <div>
    <span fxFlexAlign="center" >Click and drag on timeline to zoom graph.</span>
  </div>
<div mat-dialog-actions>
 <button mat-button [mat-dialog-close] cdkFocusInitial>Done</button>
</div>