.select-active {
  display: inline-flex;
  flex-direction: column;
}

.select-active mat-radio-button{
  margin: 5px;
}

.color {
  height:30px;
  width:30px;
}

#metric-section {
  padding: 10px 15px;
  overflow: hidden;
}

.section-title {
  font-size: 20px;
  font-weight:500px;
}

.form-body {
  padding: 10px 15px;
}

.form-section {
  padding: 10px 20px;
}

.binning {
  width: 100px;
}

.form-title {
  font-size: 20px;
  font-weight:400px;
  color :#707070;
}

.form-section button{
  margin: 0px 10px;
}

#form-buttons button {
  border-radius: 5px;
  border: solid 1px #707070;
}

.warning {
  font-weight: normal;
  color: orange;
  margin: 5px;
}
#share-content{
  min-height:40px;
  overflow: wrap;
  white-space: pre-wrap; /* css-3 */    
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */    
  white-space: -o-pre-wrap; /* Opera 7 */    
  word-wrap: break-word; 
}