<mat-radio-group class="select-active-metric" [(ngModel)]="active.metric" (ngModelChange)="changeMetric($event)">
  <mat-radio-button *ngFor="let metric of metrics" [value]="metric.name">
    {{metric.title}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">Active Metric: {{active.metric}}</div>
<div>Stations: {{stationCount}}</div>
<div>Channel stuff here</div>
<!-- <mat-checkbox class="example-margin" *ngFor="let channel of channels" [(ngModel)]="active.channels" (ngModelChange)="changeChannels($event)">{{channel}}</mat-checkbox>  -->
