.select-active {
  display: inline-flex;
  flex-direction: column;
}

.select-active mat-radio-button{
  margin: 5px;
}

.color {
  height:20px;
  width:20px;
  border-style:none;
}

#metric-section {
  padding: 10px 15px;
  overflow: hidden;
}

.section-title {
  font-size: 20px;
  font-weight:500px;
}

.form-body {
  padding: 10px 15px;
}

.form-section {
  padding: 10px 20px;
}

.binning {
  width: 100px;
}
.mat-form-field-wrapper{
  padding-bottom: 2px;
}

.form-title {
  font-size: 20px;
  font-weight:400px;
  color :#707070;
}

.form-section button{
  margin: 0px 10px;
}

#form-buttons button {
  border-radius: 5px;
  border: solid 1px #707070;
}

.warning {
  font-weight: normal;
  color: orange;
}

#coloring {
  margin-top: 5p;
  
}
#coloring span{
  font-spanize: 12px;
}
.color {
  margin:0 5px;
}
#channels-list {
  
  min-height:40px;
}
#openChannelsDialog{
  border-radius: 5px;
  border: solid 1px #cccccc;
  padding: 10px;
  margin-top:5px;
}
#openChannelsDialog:hover{
  background-color: #f2efe9;
}
fa {
  color: #cccccc;
}
.mat-dialog-title{
  margin-bottom: 5px;
}
.channels-dialog span.warning {
    font-size: 14px;
}

mat-list-item{
/*  border-top: solid 1px #cccccc;*/
}