<form #controlForm="ngForm" (ngSubmit)="onSubmit(controlForm)" *ngIf="activeMetric">
    <div id="metric-section" class="mat-elevation-z3">
        <div class="form-title"> Available Metrics</div>

        <mat-radio-group class="select-active" [ngModel]="activeMetric.name" (ngModelChange)="metricChanged($event)" name="metric">
            <mat-radio-button *ngFor="let metric of metrics" [value]="metric.name" [disabled]="metric.display.data.count < 1">
                {{metric.title}} ({{metric.display.data.count}} stations)
            </mat-radio-button>
        </mat-radio-group>
        
        <div class="form-section" fxLayoutAlign="center">
            <div *ngIf="!changed" class="status">Everything is up to date.</div>
            <div *ngIf="changed" class="warning">Click 'Update' to Apply Changes.</div>
        </div>
    </div>
    

    <div class="form-body">
        <div class="form-title"> Options for {{activeMetric.title}}</div>
        
        <div class="form-section channels-dialog" fxFlex="100">
            <div class="section-title">Channel Priority</div>
            <span class="status">Click to prioritize</span>
            
            <div (click)="openChannelsDialog()" id="openChannelsDialog">
              <ng-container *ngFor="let channel of display.channels.active; let i = index"> 
                <span *ngIf="i > 0"> > </span>
                <span> {{i + 1}}. {{ channel }}</span>
              </ng-container>
            </div>

        </div>
        
        <mat-divider></mat-divider>
        
        <div fxLayout="row">
            <div class="form-section" fxFlex="55">
                <div class="section-title">Value</div>
                
                <mat-radio-group class="select-active" [(ngModel)]="display.displayValue" (ngModelChange)="valueChanged()" name="values">
                    <mat-radio-button *ngFor="let value of displayValues" [value]="value" [name]="value">
                        {{value}}
                    </mat-radio-button>
                </mat-radio-group>
                
                <div id="coloring">
                  <div class="section-title">Icon Color</div>
                  <span>Low</span>
                  <input class="color" [(colorPicker)]="display.coloring.low" [cpPosition]="left" [style.background]="display.coloring.low" (colorPickerChange)="valueChanged()" name="low" />
                    <span>to</span>
                  <input class="color" [(colorPicker)]="display.coloring.high" [cpPosition]="left" [style.background]="display.coloring.high" (colorPickerChange)="valueChanged()" name="high" />
                  <span>High</span>
                </div>
                
            </div>

            <div class="form-section" fxFlex="45">
                <div class="section-title">Binning </div>

                <mat-form-field class="binning">
                    <input matInput required type="number" placeholder="Min > {{display.data.min}}" [(ngModel)]="display.binning.min" (ngModelChange)="valueChanged()" max="{{display.binning.max - 1}}" name="minimum">
                </mat-form-field>
                
                <mat-form-field class="binning">
                    <input matInput required type="number" placeholder="Max < {{display.data.max}}" [(ngModel)]="display.binning.max" (ngModelChange)="valueChanged()" min="{{display.binning.min + 1}}" name="maximum">
                </mat-form-field>

                <mat-form-field class="binning">
                    <input matInput required type="number" placeholder="Number of bins" [(ngModel)]="display.binning.count" (ngModelChange)="valueChanged()" min="1" max="25" name="count">
                </mat-form-field>
            </div>

        </div>

        <mat-divider></mat-divider>
        
    </div>
    
    <div class="form-section" id="form-buttons">
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" [disabled]="!changed" type="submit">
                Update
            </button>
        </div>
    </div>
    
</form>

<div class="form-section" >
    <app-buttons [metric]="activeMetric"></app-buttons>
</div>

<mat-divider></mat-divider>

<app-key></app-key>