@import "styles.scss";

.section-title {
  font-size: 20px;
  font-weight: 500px;
}

#metric-section {
  padding: 10px 15px;
  overflow: hidden;
}

.select-active {
  display: inline-flex;
  flex-direction: column;

  mat-radio-button {
    margin: 5px;
  }
}

.form-body {
  padding: 10px 15px;
}

.form-section {
  padding: 10px 20px;
}

.binning {
  width: 100px;
}

.mat-form-field-wrapper{
  padding-bottom: 2px;
}

.form-section button{
  margin: 0px 10px;
}

#coloring {
  margin-top: 5p;
  .color {
    &:hover{
      cursor: pointer;
    }
    margin: 0 5px;
    height: 20px;
    width: 20px;
    border-style: none;  
  }
  span{
    font-size: 12px;
  }
}

#openChannelsDialog{
  border-radius: 2px;
  border: solid 1px $border;
  padding: 10px;
  margin-top: 5px;
  &:hover{
    cursor: pointer;
    background-color: $background;
  }
}

//Channels Dialog
.mat-dialog-title{
  margin-bottom: 5px;
}

#channels-list {
  min-height: 40px;
}

mat-list {
  mat-list-item{
    border-top:dotted 1px $border;
    border-bottom: none;
    height: 35px;
  }
  .handle{
    float:right;
  }
   cursor: move;

  /* ghostClass */
  .ghost {
    opacity: .5;
  }
  /* chosenClass */
  .chosen {
    border: none;
    background-color: $background;
  }
  .mat-list-icon {
    color: $secondary;
  }
}

