@import "styles.scss";

#metric-section {
  padding: 10px 15px;
  overflow: hidden;
}
.section-title {
  mat-icon {
    font-size: 1em;
    color: $secondary;
  }
}
.select-active {
  display: inline-flex;
  flex-direction: column;
}

mat-radio-button {
  margin: 5px;
}

.form-body {
  padding: 10px 15px;
}

.form-section {
  padding: 10px 10px;
}

.binning {
  width: 100px;
}

.mat-form-field-wrapper{
  padding-bottom: 2px;
}

.form-buttons {
  padding-top:0px;
}

#coloring {
  padding-top: 0px;
}

#displayDropdown {
  width: 150px;
}

#openChannelsDialog{
  max-width: 250px;
  overflow: auto;
  border-radius: 2px;
  border: solid 1px $border;
  padding: 10px;
  margin-top: 5px;
  &:hover{
    cursor: pointer;
    background-color: $background;
  }
}
