<form #controlForm="ngForm" (ngSubmit)="onSubmit(controlForm)" *ngIf="activeMetric">
    <div id="metric-section" class="mat-elevation-z3">
        <div class="form-title"> Available Metrics</div>

        <mat-radio-group class="select-active" [ngModel]="activeMetric.name" (ngModelChange)="metricChanged($event)" name="metric">
            <mat-radio-button *ngFor="let metric of metrics" [value]="metric.name" [disabled]="metric.display.data.count < 1">
                {{metric.title}} ({{metric.display.data.count}} stations)
            </mat-radio-button>
        </mat-radio-group>
        
        <div class="form-section" fxLayoutAlign="center">
            <div *ngIf="!changed" class="status">Map has been updated.</div>
            <div *ngIf="changed" class="warning">Click 'Update' to Apply Changes.</div>
        </div>
    </div>
    

    <div class="form-body" fxLayout="column">
        <div class="form-title">Options for {{activeMetric.title}}</div>

        <div class="form-section" fxLayout="column">
            <div class="section-title">Channel Value Across Timespan
                <mat-icon
                matTooltipPosition="above"
                matTooltip="Value calculated for each channel for all data"
            >help_outline</mat-icon>
            </div>
            <mat-select id="displayDropdown" [(ngModel)]="display.displayValue" (ngModelChange)="valueChanged()" name="displayValue">
                <mat-option *ngFor="let value of displayValues" [value]="value">
                    {{ value | removeUnderscore }}
                </mat-option>
            </mat-select>
            
        </div>

        <mat-divider></mat-divider>

        <div class="form-section channels-dialog" fxLayout="column" >
            <div class="section-title">Display Value for Co-Located Channels 
                <mat-icon
                    color="secondary"
                    matTooltipPosition="above"
                    matTooltip="Value shown on the map for a station"
                >help_outline</mat-icon>
            </div>
            <label for="colocated-select"></label>
            <mat-radio-group
                aria-labelledby="colocated-select"
                class="example-radio-group"
                [(ngModel)]="display.colocatedType"
                name="colocated-select"
                (ngModelChange)="valueChanged()"
                >
                <mat-radio-button value="channel">
                    <div>
                        Display single channel
                        <span class="status">Click box to prioritize</span>
                    </div>
                    <div (click)="openChannelsDialog()" id="openChannelsDialog">
                        <ng-container *ngFor="let channel of display.channels.active; let i = index"> 
                          <span *ngIf="i > 0"> > </span>
                          <span> {{i + 1}}. {{ channel }}</span>
                        </ng-container>
                      </div>
                </mat-radio-button>
    
                <mat-radio-button value="aggregate">
                    <div>
                        Aggregate channels
                    </div>
                    <div>
                        <mat-select id="aggregateDropdown" [(ngModel)]="display.aggregateValue" (ngModelChange)="valueChanged()" name="aggregateValue">
                            <mat-option *ngFor="let value of aggregateValues" [value]="value">
                                {{ value | removeUnderscore }}
                            </mat-option>
                        </mat-select>
                    </div>
                </mat-radio-button>
            </mat-radio-group>



        </div>


        <mat-divider></mat-divider>

        <div class="form-section" fxLayout="column" fxFlex="100">
            <div class="section-title">Binning </div>

            <div fxLayout="row" fxLayoutGap="5px">
                <mat-form-field class="binning">
                    <input matInput type="number" placeholder="Min = {{display.data.min | number : '1.2-2'}}" [(ngModel)]="display.binning.min" (change)="valueChanged()" max="{{display.binning.max - 1}}" name="minimum">
                </mat-form-field>
                
                <mat-form-field class="binning">
                    <input matInput type="number" placeholder="Max = {{display.data.max | number : '1.2-2'}}" [(ngModel)]="display.binning.max" (change)="valueChanged()" min="{{display.binning.min + 1}}" name="maximum">
                </mat-form-field>

                <mat-form-field class="binning">
                    <input matInput type="number" placeholder="Number of bins" [(ngModel)]="display.binning.count" (change)="valueChanged()" min="1" max="25" name="count">
                </mat-form-field>
            </div>

        </div>

        <div id="coloring" class="form-section" fxLayout="column" fxFlex="100">
                <div fxFlexAlign="start end" class="section-title" id="coloring-title">Map Coloring</div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <app-coloring fxFlex="67"
                        [metricColoring]="activeMetric.display.coloring"
                        (changeColoring)="changeColoring($event)">
                    </app-coloring>
                    <mat-checkbox fxFlex="30" name="toggle-invert" (ngModelChange)="valueChanged()" [(ngModel)]="activeMetric.display.invert">Reverse</mat-checkbox>
                </div>

        </div>

        <mat-divider></mat-divider>
        
    </div>
    <div class="form-section" fxLayoutAlign="center">
        <div *ngIf="!changed" class="status">Map has been updated.</div>
        <div *ngIf="changed" class="warning">Click 'Update' to Apply Changes.</div>
    </div>
    <div class="form-section form-buttons">
      
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" [disabled]="!changed" type="submit">
                Update
            </button>
        </div>
    </div>
    
</form>

<div class="form-section form-buttons" >
    <app-buttons [metric]="activeMetric"></app-buttons>
</div>

<mat-divider></mat-divider>

<app-key></app-key>