@import "styles.scss";

div {
  display: inline-block;
  width:50%;
  line-height: 10px;
}


.spectrum {
  height: 12px; 
  border: solid 1px $border;
  width: 83px;
  margin-left:4px;
  margin-top:5px;
}
mat-select-trigger .spectrum {
    height: 10px; 
}

::ng-deep .mat-select{
  border: solid 1px $border;
  padding: 5px 0px 5px 5px;
}

::ng-deep .mat-select-panel{
    .mat-option {
      height: 35px;
    }
    width:190px;  
}
