@import "styles.scss";

div {
  display: inline-block;
  width:50%;
  line-height: 10px;
}


.spectrum {
  height: 15px; 
  border: solid 1px $border;
  width: 83px;
  margin-left:4px;
  margin-top:5px;
}
mat-select-trigger .spectrum {
    height: 10px; 
}
::ng-deep .mat-select{
  border: solid 1px $border;
  padding-left:2px;
}

::ng-deep .mat-select-panel{
    width:190px;  
}
