@import "styles.scss";

div {
  display: inline-block;
  width:50%;
}

.spectrum {
  height: 15px; 
  border: solid 1px $border;
  width: 83px;
  margin-left:4px;
  margin-top:2px;
}

::ng-deep .mat-select-panel{
    width:190px;  
}

::ng-deep .mat-select{
    width:120px !important;  
}
