<h1 mat-dialog-title fxLayoutAlign="center">
  {{ station.code }} {{ metric.title }}
</h1>

<div mat-dialog-content id="chart-grandparent">
  <div id="chart-parent">
    <ngx-charts-line-chart [scheme]="colorScheme" [results]="results" [xAxis]="true" [yAxis]="true" [legend]="true"
      [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
      [roundDomains]="true" [animations]="false" [timeline]="true" [legendTitle]="legendTitle"
      (select)="select($event)">
    </ngx-charts-line-chart>
  </div>
</div>

<span class="info-text" fxLayoutAlign="center center">Click and drag above grey area to zoom graph.</span>

<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-raised-button [mat-dialog-close]>Done</button>
</div>
