/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/font-awesome/css/font-awesome.css";


html,body { 
  margin: 0px;
  font-family: "Helvetica Neue", sans-serif !important;
  font-weight: normal;
  height: 100%;
}

