//Global styles
@import '~@angular/material/theming';

// Main app colors, uses Material color specifications
$app-primary: mat-palette($mat-deep-purple);
$app-accent:  mat-palette($mat-orange, A200, A100, A400);
$app-warn:    mat-palette($mat-red);


// Create your Sass color variables
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warning: mat-color($app-warn);
$background: #f2efe9;
$border: #cccccc;
$secondary: #707070;

$header-height : 60px;

html,body { 
  margin: 0px;
  font-size: 14px;
  font-family: "Helvetica Neue", sans-serif !important;
  font-weight: normal;
  height: 100%;
}

.info-text {
  font-size: .9rem;
  font-weight: 400;
}

.section-title {
  font-size: 1.1rem;
  font-weight:400;
  margin-bottom: 5px;
}

.form-title {
  font-size: 1.3rem;
  font-weight: 400;
  color : $primary;
  display: inline;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  color : $primary;
  display: inline;
}

.warning {
  font-weight: normal;
  color: $warning;
}

.status {
  font-weight: normal;
  color: $accent;
}

h2 {
  color: $accent;
  margin:10px 0px;
  font-weight:500;
}

h1 {
  color: $primary;
  margin-top:0px;
  display: inline-block;
}