
#key{
  max-height:360px;
  overflow:scroll;
  background-color:white;
  padding: 5px 10px 5px 15px;

}
#key div.title {
  font-size: 20px;
  font-weight:500px;
}

#key th,td {
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  padding-left: 10px;
}

#key th {
  border-bottom: solid 1px #e6e6e6;
}

#key table {
  border-collapse: collapse;
  width:100%;
}

#key .key-toggle {
  width: 55px;
}

#key .key-icon {
  width:20px;
  height:20px;
}

#key .key-content {
  color: #707070;
}

.histogram  {
  height:20px;
}

:host ::ng-deep .layer-toggle .mat-checkbox-background {
 background-color: transparent !important;
}
:host ::ng-deep .layer-toggle .mat-checkbox-frame {
 border: none;
}
tr.disabled{
  color:#808080;
  opacity: 0.5;
}